.dmj_weather_section {
  max-width: 600px;
  overflow: hidden;
  margin: 20px 0;
  p {
    margin: 2px 0;
    padding: 0 4px;
  }
  h4 {
    font-size: 1.4em;
  }
  .weather-info-color {
    color: green;
  }
  .weather-sidebar {
    float: left;
    width: 30%;
    text-align: center;
  }
  .weather-content {
    float: left;
    width: 70%;
    text-align: left;
  }
}
