<?php
/**
 * @author DominJed <dev@vprogs.com>
 */
use DominJed\Weather\Block\Widget\Weather;
use DominJed\Weather\Model\Definition\WeatherWidgetLayoutInterface;

/** @var $block Weather */
?>

<?php if(WeatherWidgetLayoutInterface::BASIC === $block->getWeatherLayout()): ?>
    <div class="dmj_weather_section" data-bind="scope: 'section'">
        <!-- ko if: dmj_weather_section().status -->
            <!-- ko if: '<?php echo $block->getWeatherTitle(); ?>'.length -->
                <h4 data-bind="text: '<?php echo $block->getWeatherTitle(); ?>'"></h4>
            <!-- /ko -->
            <div class="weather-content">
            <!-- ko if: dmj_weather_section().data.weather_icon_url -->
                    <figure class="weather-icon">
                        <img data-bind='{ "attr": {"src": dmj_weather_section().data.weather_icon_url, "alt": dmj_weather_section().data.weather_description } }'/>
                    </figure>
            <!-- /ko -->
            <!-- ko if: dmj_weather_section().data.weather_description -->
                <p><span class="weather-info-color" data-bind="text: dmj_weather_section().data.weather_description"></span></p>
            <!-- /ko -->
            </div>
        <!-- /ko -->
    </div>
<?php elseif(WeatherWidgetLayoutInterface::EXTENDED === $block->getWeatherLayout()): ?>
    <div class="dmj_weather_section" data-bind="scope: 'section'">
        <!-- ko if: dmj_weather_section().status -->
            <!-- ko if: '<?php echo $block->getWeatherTitle(); ?>'.length -->
                <h4 data-bind="text: '<?php echo $block->getWeatherTitle(); ?>'"></h4>
            <!-- /ko -->
            <div class="weather-sidebar">
                <!-- ko if: dmj_weather_section().data.weather_icon_url -->
                    <figure class="weather-icon">
                        <img data-bind='{ "attr": {"src": dmj_weather_section().data.weather_icon_url, "alt": "Weather icon" } }'/>
                    </figure>
                <!-- /ko -->
                <!-- ko if: dmj_weather_section().data.weather_description -->
                    <p><span class="weather-info-color" data-bind="text: dmj_weather_section().data.weather_description"></span></p>
                <!-- /ko -->
            </div>
            <div class="weather-content">
                <!-- ko if: dmj_weather_section().data.temperature_now_value -->
                    <p>
                        <strong data-bind="i18n: 'Temp.' "></strong>
                        <span data-bind="text: dmj_weather_section().data.temperature_now_value"></span>
                        <span data-bind="text: dmj_weather_section().data.temperature_now_unit"></span>
                    </p>
                <!-- /ko -->
                <!-- ko if: dmj_weather_section().data.wind_speed_value -->
                    <p>
                        <strong data-bind="i18n: 'Wind:' "></strong>
                        <span data-bind="text: dmj_weather_section().data.wind_speed_value"></span>
                        <span data-bind="text: dmj_weather_section().data.wind_speed_unit"></span>
                        <span data-bind="text: dmj_weather_section().data.wind_direction_description"></span>
                    </p>
                <!-- /ko -->
                <!-- ko if: dmj_weather_section().data.last_update -->
                <p>
                    <strong data-bind="i18n: 'Last update:' "></strong>
                    <span data-bind="text: dmj_weather_section().data.last_update"></span>
                </p>
                <!-- /ko -->
            </div>
        <!-- /ko -->
    </div>
<?php elseif(WeatherWidgetLayoutInterface::ADVANCED === $block->getWeatherLayout()): ?>
    <div class="dmj_weather_section" data-bind="scope: 'section'">
        <!-- ko if: dmj_weather_section().status -->
            <!-- ko if: '<?php echo $block->getWeatherTitle(); ?>'.length -->
                <h4 data-bind="text: '<?php echo $block->getWeatherTitle(); ?>'"></h4>
            <!-- /ko -->
            <div class="weather-sidebar">
                <!-- ko if: dmj_weather_section().data.weather_icon_url -->
                <figure class="weather-icon">
                    <img data-bind='{ "attr": {"src": dmj_weather_section().data.weather_icon_url, "alt": "Weather icon" } }'/>
                </figure>
                <!-- /ko -->
                <!-- ko if: dmj_weather_section().data.weather_description -->
                    <p><span class="weather-info-color" data-bind="text: dmj_weather_section().data.weather_description"></span></p>
                <!-- /ko -->
            </div>
            <div class="weather-content">
                <!-- ko if: dmj_weather_section().data.temperature_now_value -->
                <p>
                    <strong data-bind="i18n: 'Temp.' "></strong>
                    <span data-bind="text: dmj_weather_section().data.temperature_now_value"></span>
                    <span data-bind="text: dmj_weather_section().data.temperature_now_unit"></span>
                    <!-- ko if: dmj_weather_section().data.temperature_min_value && dmj_weather_section().data.temperature_max_value-->
                        <span data-bind="text: '(min: ' + dmj_weather_section().data.temperature_min_value"></span>
                        <span data-bind="text: dmj_weather_section().data.temperature_min_unit"></span>
                        <span data-bind="text: '- max: ' + dmj_weather_section().data.temperature_max_value"></span>
                        <span data-bind="text: dmj_weather_section().data.temperature_max_unit + ')'"></span>
                    <!-- /ko -->
                </p>
                <!-- /ko -->
                <!-- ko if: dmj_weather_section().data.wind_speed_value -->
                <p>
                    <strong data-bind="i18n: 'Wind:' "></strong>
                    <span data-bind="text: dmj_weather_section().data.wind_speed_value"></span>
                    <span data-bind="text: dmj_weather_section().data.wind_speed_unit"></span>
                    <span data-bind="text: dmj_weather_section().data.wind_direction_description"></span>
                    <span data-bind="text: dmj_weather_section().data.wind_direction_value ? '(' + dmj_weather_section().data.wind_direction_value +
                    (dmj_weather_section().data.wind_direction_unit ? ' ' + dmj_weather_section().data.wind_direction_unit : '' ) + ')': ''"></span>
                    <span data-bind="text: dmj_weather_section().data.wind_speed_description ? ', ' + dmj_weather_section().data.wind_speed_description : ''"></span>
                </p>
                <!-- /ko -->
                <!-- ko if: dmj_weather_section().data.wind_speed_value -->
                <p>
                    <strong data-bind="i18n: 'Pressure:' "></strong>
                    <span data-bind="text: dmj_weather_section().data.pressure_value"></span>
                    <span data-bind="text: dmj_weather_section().data.pressure_unit"></span>
                </p>
                <!-- /ko -->
                <!-- ko if: dmj_weather_section().data.last_update -->
                <p>
                    <strong data-bind="i18n: 'Last update:' "></strong>
                    <span data-bind="text: dmj_weather_section().data.last_update"></span>
                </p>
                <!-- /ko -->
            </div>
        <!-- /ko -->
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "section": {
                        "component": "DominJed_Weather/js/section"
                    }
                }
            }
        }
    }
</script>
